@charset "utf-8";
@import "./reset.css";

/* 로고 */
.login-logo {
    position: fixed;
    top: 10%; right: 50%; transform: translate(50%, -50%);
    font-size: 32px; font-weight: bold;
}

/* 로그인 content */
.content {
    width: 408px; height: auto;
    position: fixed;
    top: 50%; right: 50%; transform: translate(50%, -50%);
}
/* text: 로그인/회원가입 */
.content .login-title {
    margin-bottom: 30px;
    font-size: 24px; font-weight: bold;
}
/* 본문 */
.content .main-text {
    margin-bottom: 10px;
    font-size: 14;
}
/* 로그인 버튼 */
.content .btn {
    width: 408px; height: 57px;
    margin-bottom: 30px;
    border-radius: 8px;
    font-size: 14px; font-weight: bold;
}
/* 카카오 로그인 버튼 양식 */
.content .kakao-login {
    background-color: #F4E54E;
}