@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    user-select: none;
}

a {
    text-decoration: none;
}


/* 메인페이지 */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/killerwhale2.jpg);
    background-size: cover;
    background-position: center 28%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    width: calc(100% - 100px);
    display: flex;
    margin-top: 20px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
}

header a {
    color: white;
}

header .logo a {
    margin-right: 50px
}

header .logo nav a {
    margin: 0 30px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logo nav {
    font-size: 18px;
}

header .logo {
    font-size: 48px;
}

.wrapper header .auth {
    margin-right: 20px;
}

.wrapper header .auth button {
    margin: 0 0 0 60px;
    font-size: 18px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

body .wrapper main p {
    color: white;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    line-height: 100vh;
}


/* 모달 미노출 css */
.hidden {
    display: none;
}

/* 로그인 모달 */
.login-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login-modal .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-modal .content {
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    padding: 20px 40px 10px;
}

.login-modal .content button {
    padding: 0;
    cursor: pointer;
}

/* 타이틀 */
.login-modal .content .title h2 {
    text-align: center;
    margin: 60px 0;
}

/* 닫기 버튼 */
.login-modal .content .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.login-modal .content .close-btn button {
    width: 38px;
    height: 38px;
    background: none;
    border: none;
}

.login-modal .content .close-btn button img {
    width: 100%;
}

/* 폼 */
.login-modal .content form div {
    margin-bottom: 16px;
}

.login-modal .content label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

/* 아이디 입력 */
.login-modal .content input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #828282;
}

.login-modal .content form .user-id input {
    text-transform: lowercase;
}

/* 비밀번호 입력칸 */
.login-modal .content form .user-pw {
    position: relative;
}

.login-modal .content form .user-pw .eye {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    bottom: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.login-modal .content form .user-pw .eye img {
    width: 100%;
}

/* 로그인 버튼 */
.login-modal .content .login-btn {
    margin-top: 55px;
    margin-bottom: 30px;
    text-align: center;
}

.login-modal .content .login-btn button {
    width: 55%;
    height: 40px;
    background-color: #d6d6d6;
    border-radius: 10px;
    border: none;
}

/* 도움 */
.login-modal .help {
    margin-bottom: 20px;
}

.login-modal .help p {
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.login-modal .help button {
    background: none;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    color: #008636;
    font-weight: bold;
}

/* 회원가입 모달 */
.joinus-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.joinus-modal .background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.joinus-modal .content {
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    padding: 20px 40px 10px;
}

.joinus-modal .content button {
    padding: 0;
    cursor: pointer;
}

/* 타이틀 */
.joinus-modal .content h2 {
    text-align: center;
}

/* 닫기 버튼 */
.joinus-modal .content .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.joinus-modal .content .close-btn button {
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: none;
}

.joinus-modal .content .close-btn button img {
    width: 100%;
}

/* 폼 양식 */
.joinus-modal .content form div {
    margin-bottom: 16px;
}

.joinus-modal .content label {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}

/* 아이디 입력칸 */
.joinus-modal .content input {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #828282;
}

.joinus-modal .content form .user-id .input-space {
    display: flex;
}

.joinus-modal .content form .user-id input {
    width: 75%;
    margin-right: 10px;
    text-transform: lowercase;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	color: #000;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.joinus-modal .content form .user-id .confirmed-input {
    color: rgba(0, 0, 0, 0.5);
}

.joinus-modal .content form .user-id .check-for-duplication-btn {
    box-sizing: border-box;
    width: calc(25% - 10px);
    height: 40px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.joinus-modal .content form .user-id .inactive-btn {
    background-color: #d6d6d6;
    color: #4d4d4d;
}

.joinus-modal .content form .user-id .active-btn {
    background-color: #008636;
    color: white;
}

.joinus-modal .content form .user-id .confirmed-btn {
    background-color: rgba(0, 134, 54, 0.5);
    color: white;
}

/* 비밀번호 및 비밀번호 확인 입력칸 */
.joinus-modal .content form .user-pw,
.user-pw-check .input-space {
    position: relative;
}

.joinus-modal .content .eye {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 12px;
    bottom: 10px;
    border: none;
    background-color: transparent;
    padding: 0;
}

.joinus-modal .content .eye img {
    width: 100%;
}

/* 회원가입 버튼 */
.joinus-modal .content .register-btn {
    margin-top: 30px;
    text-align: center;
}

.joinus-modal .content .register-btn button {
    width: 55%;
    height: 40px;
    background-color: #d6d6d6;
    border-radius: 10px;
    border: none;
}

/* 비밀번호 확인 불일치 안내문 */
.joinus-modal .content form .input-space {
    margin: 0;
}

.joinus-modal .content .mismatch {
    margin-top: 14px;
}

.joinus-modal .content form .user-pw-check .mismatch-notice {
    margin: 0;
    font-size: 12px;
    color: red;
    line-height: 14px;
}