@import "../../reset.css";
@import "../../default.css";

/* layout */
@import "../layout.css";

main .card-container {
    display: flex;
    padding: 20px;
}
/* 카드 */
main .card {
    padding: 10px;
}
main .card .card-box {
    height: 100%;
    padding: 30px;
    border: 1px solid #000; border-radius: 10px;
    position: relative;
}
/* 사용자 정보 */
main .card.user-profile .card-box {
    width: 500px; height: 250px;
}
main .card.user-profile .card-box .user-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
main .card.user-profile .card-box .user-info p {
    padding-bottom: 10px;
    font-weight: 700;
}
/* 바이낸스 연동 정보 */
main .card.user-binance .card-box {
    width: 300px; height: 250px;
}
/* 헤더 */
main .card.user-binance .card-box header .binance-link-status {
    padding-bottom: 5px;
    font-size: 1.5rem;
    color: #FA7878;
}
main .card.user-binance .card-box header .relink-btn {
    display: flex;
    align-items: center;
}
main .card.user-binance .card-box header .relink-btn span {
    font-weight: 700; font-size: 16px;
    color: #575757;
}
/* 연동 정보 */
main .card.user-binance .card-box .binance-link-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
main .card.user-binance .card-box .binance-link-info p {
    padding-bottom: 10px;
    font-weight: 700;
}
/* 설정하기 버튼 */
main .card.user-binance .card-box .setting-btn {
    padding: 10px;
    border: 1px solid #8E8E8E; border-radius: 10px;
    position: absolute;
    bottom: 30px; right: 30px;
}


/* 기타 */
main .etc {
    padding: 20px;
}
main .etc header {
    padding: 10px;
}
/* 자주 묻는 질문 */
main .etc .faq {
    display: inline-block;
    padding: 10px;  
    color: #363636;
}


/* 로딩 화면 */
.loading .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.loading .box img {
    width: 100px; height: 100px;
}
.loading .box p {
    color: #fff;
}