@import "/src/styles/common/reset.css";
@import "/src/styles/common/default.css";

/* layout */
@import "../../styles/layout/layout.css";

@import "./filter.css";
@import "./image-memo-modal.css";
@import "./image-memo-view-modal.css";
@import "./memo-update-modal.css";

/* 본문 */
.content main {
    box-sizing: border-box;
    width: 1450px; height: 100%;
    padding: 0 30px;
}
/* 필터 영역 */
/* 각 필터 */
.filter-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.filter-container input {
    padding: 5px 10px;
    border-radius: 5px;
}
/* 승패 필터 */
.filter-winlose span,
.filter-winlose label {
    display: inline-block;
    margin-right: 10px;
    color: #575757;
}
.filter-winlose span {
    font-weight: 700;
}
.filter-winlose label {
    cursor: pointer;
}
.filter-winlose input[type='radio'] {
    accent-color: #0C8CE9;
    outline: none;
}
/* 날짜 필터 */
.filter-date span {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
    color: #575757;
}
.filter-date input {
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 14px;
    color: #0C8CE9;
}
/* 코인 필터 */
.filter-symbol span {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
    color: #575757;
}
.filter-symbol input {
    width: 350px;
}
/* 페이지 노출 */
.pagination-option label {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
    color: #575757;
}

/* 거래내역 테이블 */
.content-table {
    min-height: 550px;
    margin-top: 20px;
    border-collapse: collapse;
}
.content-table table {
    border: none;
    width: 100%;
}
/* 테이블 헤더 스타일 */
.content-table thead tr {
    background-color: rgba(12, 140, 233, 0.1);
}
.content-table th, 
.content-table td {
    padding: 12px 18px;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid #dddddd; /* 하단 테두리만 유지 */
}
/* 포지션 텍스트 강조 */
/* 승 색상 강조 */
.content-table tr.win > td:nth-child(5), 
.content-table tr.win > td:nth-child(6) {
    color: #008636;
}
/* 패 색상 강조 */
.content-table tr.lose > td:nth-child(5), 
.content-table tr.lose > td:nth-child(6) {
    color: #d9534f;
}
/* 돋보기 버튼 */
.detail-btn {
    position: relative;
    font-size: 0;
}
.detail-btn img {
    width: 20px; height: 20px;
}
.detail-btn .tooltip {
    position: absolute;
    top: 10px; right: 20px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}
.tooltip p {
    font-size: 16px;
    color: #fff;
    white-space: nowrap;
}
.detail-btn:hover .tooltip {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* 메모 버튼 */
.content-table td .image-memo-btn {
    font-size: 0;
    cursor: pointer;
}
.content-table td .image-memo-btn img {
    width: 20px; height: 20px;
}

/* 콘텐츠 푸터 영역 */
.content-footer {
    margin-bottom: 70px;
}
/* 페이지 네이션 */
.pagination-number {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-number button {
    margin: 5px;
}
.pagination-number button img {
    width: 12px; height: 12px;
}
.pagination-number .page-number {
    font-size: 16px;
}