@import "/src/styles/common/reset.css";
@import "/src/styles/common/default.css";

header .logo {
    margin-bottom: 250px;
}
/* 메인 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
main .link {
    margin-top: 100px;
    color: #0C8CE9;
}