@charset "utf-8";

@font-face {
    font-family: "NotoSansKR";
    font-weight: 100;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Thin.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 200;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 300;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Light.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Regular.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 500;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Medium.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 600;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 700;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Bold.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 800;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "NotoSansKR";
    font-weight: 900;
    src: url("/assets/fonts/noto-sans-kr/NotoSansKR-Black.woff") format("woff");
}
