@import "../../reset.css";
@import "../../default.css";

/* layout */
@import "../layout.css";

/* 질문 컨테이너 */
.faq-container {
    max-width: 1000px;
    padding: 75px 50px;
}
/* 질문 블럭 */
.faq .question-block {
    display: flex;
    justify-content: space-between;
    font-weight: 700; font-size: 24px;
}
/* 확장 화살표 */
.faq .expand-arrow img {
    width: 24px; height: 24px;
}
/* 답변 블럭 */
.faq .answer-block {
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f1f1f1;
}
.faq .answer-block .exit-btn {
    color: #0C8CE9;
}