@import "/src/styles/common/reset.css";
@import "/src/styles/common/default.css";

header p {
    margin-bottom: 160px;
}

/* 메인 */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main header {
    margin-bottom: 30px;
    text-align: center;
}
main .status-image img {
    width: 100px; height: 100px;
    padding: 20px;
}
main .status.fail {
    color: #f00;
}
/* 안내 텍스트 */
main .notice {
    color: #7B7B7B;
}

/* 테스트 */
.test {
    position: fixed;
    top: 0; right: 0;
    
    display: flex;
    flex-direction: column;
}
.test button {
    padding: 10px;
}