@charset "utf-8";
@import "../reset.css";

/* a-style reset */
a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
/* button-style reset */
button {
    padding: 0;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

/* 스크롤 화면 구성 */
.scroll-box {
    width: 100%; height: 100vh;
    position: fixed;
}
.scroll-box .scroll-section {
    width: 100%; height: 100vh;
    transition: transform 1s ease;
}
.section-item {
    width: 100%; height: 100vh;
    position: relative;
}
/* 스크롤 section 0 */
.section-0 header .title {
    position: absolute;
    top: 20%; left: 25%; transform: translate(0, -50%);
    font-size: 32px; font-weight: bold;
}
.section-0 header .login-join {
    position: absolute;
    top: 20%; right: 25%; transform: translate(0, -50%);
    font-weight: bold; font-size: 14px;
}
.section-0 .content .subtitle {
    position: absolute;
    top: 50%; left: 25%; transform: translate(0, -50%);
    font-size: 48px; font-weight: bold; color: #555;
}
/* 스크롤 section 1 */
/* 사용자 가이드 */
.section-1 .content .user-guide {
    position: absolute;
    top: 20%; left: 20%;
}
/* 사용자 가이드 텍스트 스타일 */
.section-1 .content .user-guide .page-link {
    margin-bottom: 20px;
    font-size: 22px; font-weight: bold;
}
/* 슬로건 */
.section-1 .content .slogan-container {
    position: absolute;
    top: 20%; right: 25%;
    font-size: 28px;font-weight: bold;
}
.section-1 .content .slogan-container .slogan {
    margin-bottom: 20px;
}
/* 회사 정보 */
.section-1 .company-information {
    width: auto; height: auto;
    position: absolute;
    bottom: 20%; left: 20%;
    display: flex;
    font-size: 12px;
}
/* 정보 블록 마진 */
.section-1 .company-information div {
    margin-right: 50px;
}

/* 스크롤 화면 pagination */
.pagination {
    padding: 20px;
    position: fixed; top: 50%; right: 20%;
}
.pagination ul li button {
    width: 20px; height: 20px;
    background-image: url(../../resources/img/main/pagination-non-select.png);
    background-size: cover;
}
.pagination ul li button.active {
    background-image: url(../../resources/img/main/pagination-select.png);
}